extends layout

block content
  div.container
    a(href='/home' class='btn btn-warning') Home
    div.row
      h1.text-center Books from Afar
    div.row
      div.col-md-4
        - each person in matches
          h3= person.name
          p Also likes:
          ul
            - each match in person.matches
              li= match.name
          hr
